tensorflow-gpu~=2.6.0
scipy~=1.6.2
tqdm~=4.62.3
scikit-learn~=1.0.2
seaborn~=0.11.2
matplotlib~=3.5.0
sacred~=0.8.2
xgboost~=1.5.0
tslearn~=0.5.2
numpy~=1.19.2
pandas~=1.3.5
torch~=1.8.1
torchmetrics~=0.11.0